<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let episode of episodes">
    <div class="card">
      <a
        [routerLink]="['/episode-detail', episode.id]"
        style="text-decoration: none"
      >
        <div class="card-inner">
          <div class="header">
            <h2 style="color: black">{{ episode.name | slice : 0 : 17 }}</h2>
            <h4 class="text-muted">{{ episode.episode }}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-12 container-notFound text-center"
    *ngIf="episodes.length <= 0"
  >
    <div class="alert alert-warning" role="alert">
      <strong>No results found.</strong> Try refining your search or explore
      other options.
    </div>
  </div>
</div>
