<div class="row justify-content-center mt-5" *ngIf="episode | async as episode">
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="row">
      <div #div2 class="col-md-6 d-flex align-items-center">
        <div>
          <h1 style="font-size: 58px">{{ episode.name }}</h1>
          <br />
          <h3>Episode: {{ episode.episode }}</h3>
          <h3>Air Date: {{ episode.air_date }}</h3>
          <h3>Created: {{ episode.created }}</h3>
          <button
            (click)="onBack()"
            class="btn btn-primary btn-lg mt-5"
            style="background-color: rgba(0, 176, 200, 255)"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
